* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header button {
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    width: 100%;
    height: 100%;
}
.gameCard {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 20%;
    background-color: rgba(47, 47, 47, 0.96);
    box-shadow: 0 0 15px 1px black;
    width: 70%;
    aspect-ratio: 1/1.3;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}
.gameBoard {
    position: absolute;
    top: 0;
    margin: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
}
.gameShow {
    margin: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: 1.2rem;
    text-justify: auto;
}
#reloadButton {
    padding: 0.4rem;
    position: absolute;
    border-radius: 15px;
    margin: 2rem;
    bottom: 0;
    cursor: pointer;
}
section.termoTable {
    margin: 2rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 10%);
    grid-template-rows: repeat(5, auto);
    gap: 0.2rem;
}
.termoCells {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
}
.termoWrong {
    background-color: red;
}
.termoRight {
    background-color: green;
}
.termoDoubt {
    background-color: yellow;
}
input.termoInput {
    width: 100%;
    height: 100%;
    justify-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
input.termoInput:focus {
    outline: none;
    box-shadow: 0 0 5px 1px black inset;
}
.termoKeyboard {
    background-color: rgb(137, 196, 247);
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    
}
@media (min-width: 1024px){

}