/* Font Import: */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color ease 0.5s, border ease 0.5s, box-shadow ease 0.5s;
}
/* background: linear-gradient(145deg, #0A0A13 0%, #11121A 60%, #1A1C29 100%);*/

body {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header.header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--superf);
    color: var(--textMain);
    box-shadow: 0 0 10px 1px var(--neon);
    z-index: 2;
    div.headerText {
        font-family: "Gravitas One", serif;
        font-weight: 400;
    }

    button {
        height: 60%;
        border-radius: 10px;
        cursor: pointer;
        padding: 0 0.5rem;
        font-family: "Gravitas One", serif;
        font-weight: 400;

        &:hover {
            box-shadow: 0 0 10px var(--neon);
        }
    }
}
main {
    display: grid;
    background-color: rgb(100, 100, 100);
    background-color: var(--fundo);
    width: 100%;
    flex: 1;
    min-height: 0;
    grid-template-columns: auto;
    grid-template-rows: 60% 1fr;
    justify-items: center;

    div.gameCard {
        z-index: -1;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-self: center;
        top: 20%;
        background-color: rgba(47, 47, 47, 0.96);
        box-shadow: 0 0 15px 1px black;
        width: 70%;
        aspect-ratio: 1/1.3;
        border-radius: 35px;
        justify-content: center;
        align-items: center;
        
        .gameBoard {
            position: absolute;
            top: 0;
            margin: 2rem;
            color: aliceblue;
            text-align: center;
            font-size: 2rem;
        }
        .gameShow {
            margin: 2rem;
            color: aliceblue;
            text-align: center;
            font-size: 1.2rem;
            text-justify: auto;
        }
        #reloadButton {
            padding: 0.4rem;
            position: absolute;
            border-radius: 15px;
            margin: 2rem;
            bottom: 0;
            cursor: pointer;
        }
    }

    section.termoTable {
        margin: 2rem 0;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(5, auto);
        gap: 0.2rem;

        div.termoCells {
            height: 100%;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--neon);
            color: var(--textMain);
            overflow: hidden;
            border-radius: 5px;
            font-size: 1.5rem;
            font-family: "Quantico", sans-serif;
            font-weight: 700;
            font-style: normal;

            input.termoInput {
                width: 100%;
                height: 100%;
                justify-items: center;
                color: var(--textMain);
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                font-family: "Quantico", sans-serif;
                font-weight: 700;
                font-style: normal;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 5px 1px var(--neon) inset;
                }
            }

            &.termoWrong {
                background-color: hsl(from var(--textDeb) h s calc(l*0.3));
                /* color: hsl(120, 100%, 25%); */
            }

            &.termoRight {
                background-color: #3aa394;
            }
            
            &.termoDoubt {
                background-color: #d3ad69;
            }
        }
    }

    .termoKeyboard {
        background-color: var(--fundo);
        color: var(--textMain);
        width: 100%;
        height: 100%;
        
        div.keyLineOne {
            display: flex;
        }
        div.keyLineTwo {
            display: flex;
        }
        div.keyLineThree {
            display: flex;
        }
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 1024px){

}