/* Font Import: */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: border ease 0.5s, box-shadow ease 0.5s;
    caret-color: transparent;
}
/* background: linear-gradient(145deg, #0A0A13 0%, #11121A 60%, #1A1C29 100%);*/
html {
    transition: none;
}
body {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

header.header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--superf);
    color: var(--textMain);
    box-shadow: 0 0 10px 1px var(--neon);
    z-index: 2;
    transition: background-color ease 0.5s;
    div.headerText {
        font-family: "Gravitas One", serif;
        font-weight: 400;
    }

    #rules {
        display: none;
    }

    button {
        height: 60%;
        border-radius: 0.7rem;
        cursor: pointer;
        padding: 0 0.5rem;
        font-family: "Gravitas One", serif;

        &:hover {
            box-shadow: 0 0 10px var(--neon);
        }
        &:active {
            transition: none;
            background-color: hsl(from white h s calc(l*0.5));
        }
    }
}
main {
    display: grid;
    background-color: rgb(100, 100, 100);
    background-color: var(--fundo);
    width: 100%;
    flex: 1;
    min-height: 0;
    grid-template-columns: auto;
    grid-template-rows: 60% 1fr;
    justify-items: center;
    row-gap: 2rem;
    transition: background-color ease 0.5s;

    div.gameCard.notShowing {
        transform: translateY(50px);
        opacity: 0;
        transition: transform ease 0.5s, opacity ease 0.5s;
    }
    div.gameCard.showing {
        transform: translateY(0) !important;
        opacity: 1 !important;
        transition: transform ease 0.5s, opacity ease 0.5s;
    }

    div.gameCard {
        z-index: -1;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        top: 20%;
        background-image: radial-gradient(circle at center, var(--fundo) 70%, var(--divisor) 100%);
        box-shadow: 0 0 15px 1px var(--softAcc);
        width: 70%;
        height: 70%;
        border-radius: 3rem;
        justify-content: space-around;
        align-items: center;
        color: var(--textMain);
        
        .gameBoard {
            position: absolute;
            top: 0;
            margin: 2rem;
            text-align: center;
            font-size: 2rem;
        }
        .gameShow {
            margin: 2rem 2rem 0;
            text-align: center;
            font-size: 1.2rem;
            text-justify: auto;
        }
        #reloadButton {
            padding: 0.4rem;
            border-radius: 1.5rem;
            margin: 2rem 0 0;
            cursor: pointer;
            background-color: var(--divisor);
            color: var(--textMain);
            font-family: "Gravitas One", serif;
            font-size: small;
            &:hover {
                box-shadow: 0 0 15px 1px var(--softAcc);
            }
            &:active {
                transition: none;
                background-color: hsl(from var(--divisor) h s calc(l*0.5));
            }
        }
        #themeButton {
            padding: 0.4rem;
            border-radius: 1.5rem;
            margin: 2rem 0 0;
            cursor: pointer;
            background-color: var(--divisor);
            color: var(--textMain);
            font-family: "Gravitas One", serif;
            &:hover {
                box-shadow: 0 0 15px 1px var(--softAcc);
            }
            &:active {
                transition: none;
                background-color: hsl(from var(--divisor) h s calc(l*0.5));
            }
        }
    }

    section.termoTable {
        margin: 2rem 0;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(5, auto);
        gap: 0.2rem;

        div.termoCells {
            height: 100%;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--neon);
            color: var(--textMain);
            overflow: hidden;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            font-family: "Quantico", sans-serif;
            font-weight: 700;
            font-style: normal;

            input.termoInput {
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;
                appearance: none;
                padding: 0;
                justify-items: center;
                color: var(--textMain);
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                font-family: "Quantico", sans-serif;
                font-weight: 700;
                font-style: normal;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 5px 1px var(--neon) inset;
                }
            }

            &.termoWrong {
                background-color: hsl(from var(--textDeb) h s calc(l*0.3));
                /* color: hsl(120, 100%, 25%); */
            }

            &.termoRight {
                background-color: #3aa394;
            }
            
            &.termoDoubt {
                background-color: #d3ad69;
            }
        }
    }

    .termoKeyboard {
        font-family: "Quantico", sans-serif;
        font-size: large;
        transition: background-color ease 0.5s;
        background-color: var(--fundo);
        color: var(--textMain);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 0.2rem;
        
        .keyboardRight {
            background-color: #3aa394 !important;
            box-shadow: none !important;
            border: none !important;
        }
        
        .keyboardWrong {
            background-color: hsl(from var(--textDeb) h s calc(l*0.3)) !important;
            box-shadow: none !important;
            border: none !important;
        }

        .keyboardDoubt {
            background-color: #d3ad69 !important;
            box-shadow: none !important;
            border: none !important;
        }

        & div.keyLines {
            display: flex;
            gap: 0.2rem;
        }

        & .key {
            text-align: center;
            padding: 0.5rem;
            aspect-ratio: 1/1.2;
            border: 1px solid var(--neon);
            background-color: var(--superf);
            border-radius: 0.7rem;
            box-shadow: 0 0 5px var(--neon) inset;
        }
    }
}