/* Font Import: */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root[data-theme = 'FutureNocturne'] {
    /* Structure: */
    --fundo: #0A0A13;
    --cards: #11121A;
    --superf: #1A1C29;
    --divisor: #2A2C3A;
    /* Texts: */
    --textMain: #F0F2FF;
    --textSec: #A7ADCC;
    --textDeb : #6D738F;
    /* Accents: */
    --softAcc: #7B4EFF;
    --neon: #28D7FF;
    /* Background opc:
    background: linear-gradient(145deg, #0A0A13 0%, #11121A 60%, #1A1C29 100%);*/
}
:root[data-theme = 'NeonNight'] {
    --fundo: #0D0D0D;
    --superf: #1A1A1A;
    --textMain: #E6E6E6;
    --textSec: #9A9A9A;
    --neon: #00E5FF;
}
:root[data-theme = 'ShineCoal'] {
    --fundo: #0F0F0F;
    --superf: #1C1C1C;
    --textMain: #F5F5F5;
    --textSec: #A8A8A8;
    --neon: #D4AF37;
}
:root[data-theme = 'GalaxyPurple'] {
    --fundo: #0B0B10;
    --superf: #16161D;
    --textMain: #E0E0F0;
    --textSec: #9C9CB5;
    --neon: #7F5AF0;
}
:root[data-theme = 'ForestNight'] {
    --fundo: #0C1410;
    --superf: #132018;
    --textMain: #E4F2E9;
    --textSec: #97B9A3;
    --neon: #38E19F;
}
:root[data-theme = 'DarkBlue'] {
    --fundo: #0A0F1A;
    --superf: #131C2B;
    --textMain: #F0F4FA;
    --textSec: #909EAF;
    --neon: #4EA8DE;
}


body {
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header.header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A1A1A;
    color: #E6E6E6;
}
header div.headerText {
    font-family: "Gravitas One", serif;
    font-weight: 400;
}
header button {
    height: 60%;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 0.5rem;
    font-family: "Gravitas One", serif;
    font-weight: 400;
}
main {
    display: grid;
    background-color: rgb(100, 100, 100);
    width: 100%;
    flex: 1;
    min-height: 0;
    grid-template-columns: auto;
    grid-template-rows: 60% 1fr;
    justify-items: center;
}
.gameCard {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 20%;
    background-color: rgba(47, 47, 47, 0.96);
    box-shadow: 0 0 15px 1px black;
    width: 70%;
    aspect-ratio: 1/1.3;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}
.gameBoard {
    position: absolute;
    top: 0;
    margin: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
}
.gameShow {
    margin: 2rem;
    color: aliceblue;
    text-align: center;
    font-size: 1.2rem;
    text-justify: auto;
}
#reloadButton {
    padding: 0.4rem;
    position: absolute;
    border-radius: 15px;
    margin: 2rem;
    bottom: 0;
    cursor: pointer;
}
section.termoTable {
    margin: 2rem 0;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
    gap: 0.2rem;
}
.termoCells {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.termoWrong {
    background-color: rgb(66, 66, 66);
}
.termoRight {
    background-color: green;
}
.termoDoubt {
    background-color: yellow;
}
input.termoInput {
    width: 100%;
    height: 100%;
    justify-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
}
input.termoInput:focus {
    outline: none;
    box-shadow: 0 0 5px 1px black inset;
}
.termoKeyboard {
    background-color: rgb(137, 196, 247);
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    
}
@media (min-width: 1024px){

}